node_modules
!dist/models/
dist/models/*
!dist/models/prefabs/
dist/models/prefabs/*
!dist/models/prefabs/kenney_furniturepack/
dist/models/prefabs/kenney_furniturepack/*
!dist/models/prefabs/kenney_furniturepack/Models/
dist/models/prefabs/kenney_furniturepack/Models/*
!dist/models/prefabs/kenney_furniturepack/Models/bedBunk.mtl
!dist/models/prefabs/kenney_furniturepack/Models/bedBunk.obj
!dist/models/prefabs/kenney_furniturepack/Models/cabinetBedDrawer.obj
!dist/models/prefabs/kenney_furniturepack/Models/cabinetBedDrawer.mtl
!dist/models/prefabs/kenney_furniturepack/Models/bookcaseOpen.obj
!dist/models/prefabs/kenney_furniturepack/Models/bookcaseOpen.mtl
!dist/models/prefabs/kenney_furniturepack/Models/chairDesk.obj
!dist/models/prefabs/kenney_furniturepack/Models/chairDesk.mtl
!dist/models/prefabs/kenney_furniturepack/Models/speaker.obj
!dist/models/prefabs/kenney_furniturepack/Models/speaker.mtl
!dist/models/prefabs/kenney_furniturepack/Models/kitchenStoveElectric.obj
!dist/models/prefabs/kenney_furniturepack/Models/kitchenStoveElectric.mtl

!dist/images/textures/
dist/images/textures/*
!dist/images/textures/groundcover/
dist/images/textures/groundcover/*
!dist/images/textures/groundcover/Grass-2351.jpg
dist/images/3DTextures-1024
dist/images/3DTextures-512
dist/images/3DTextures
!dist/images/skybox/
dist/images/skybox/*
!dist/images/skybox/flower_road_8M.jpg
!dist/images/skybox/flower_road_2M.jpg
dist/images/3d-scan
.idea

