<a-entity width="1.35">
    <a-text font="roboto" baseLine="top" anchor="center" value="{{name}}:"
            color="#212121" wrap-count="38" width="1.2" height="0.1"></a-text>
    {{#each settings}}

    <a-ui-radio value="{{name}}" class="radio-{{remove-spaces name}}" {{#compare name ../selected operator="=="}}selected="true"{{/compare}}></a-ui-radio>
    <a-text font="roboto" baseLine="center" anchor="center" value="{{name}}"
            color="#212121" wrap-count="6" width="0.2" height="0.1"></a-text>
    {{/each}}
</a-entity>
<a-plane width="1.35" height="0.004" color="#8f8f8f" shader="flat"></a-plane>